#faq {
    background-color: #B8F1B0;
    color: #535353;
    /* height: 500px; */
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 1px 8px;
    margin: .5rem auto;
    padding: 1rem;
    max-width: 95%
}

#faq-title {
    color: #363062;
    text-align: center;
}

#faq-accordion {
    padding-left: 250px;
}

#faq-collapse {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}