#faq {
    background-color: #B8F1B0;
    color: #535353;
    border-radius: 5px;
    box-shadow: 0 1px 8px;
    margin: .5rem auto;
    padding: 1rem;
    max-width: 90%
}

#faq-title {
    color: #363062;
    text-align: center;
}

#faq-accordion {
    padding-left: 50px;
    padding-right: 50px;
}

#faq-collapse {
    margin-top: 30px;
    margin-bottom: 30px;
}