#footer {
    background-color: #FFFFFF;
    height: 100px;
    max-width: 95%;
}

#footer-icon-group {
    font-size: 30px;
    padding-top: 50px;
    margin-left: 50px;
}

#footer-icon {
    padding-right: 30px;
}

#footer-text {
    font-size: 15px;
    padding-left: 900px;
}