#home {
    background-color: #FFFFFF;
    max-width: 90%;
    box-shadow: 0 1px 8px;
    margin: .5rem auto;
    padding: .5%;
}

#home-section1 {
    background-color: #DCDCDC;
    margin-top: 50px;
    margin-bottom: 20px;
    border-style: solid;
    max-width: 95%;
}

#home-section-title {
    background-color: #B8F1B0;
    border-bottom: solid;
    text-align: center;
}

#home-section1-buttongroup {
    padding-left: 10px;
    padding-right: 10px;
}

#home-section1-date {
    margin-left: 10px;
    width: 170px;
}

#home-section1-input{
    margin: 10px 10px;
    max-width: 90%;
}

#home-section1-error {
    background-color: #FBC5C5;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 90%;
}

#home-section1-tableitem {
    padding-left: 10px;
    padding-right: 10px;
}

#home-section1-content{
    margin-top: 10px;
    padding-left:10px;
}

#home-section2 {
    background-color: #DCDCDC;
    font-size: 15px;
    border-style: solid;
    text-align: center;
    max-width: 95%;
}

#home-section2-table {
    max-width: 95%;
}

#home-section2-weathericon {
    font-size: 5em;
    max-width: 95%;
}

#home-section3 {
    margin-top: 50px;
    max-width: 95%;
}

#map-table {
    margin-top: 5px;
}

#map-table-col {
    margin-bottom: 50px;
}

#map-check {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 15px;
}

#map {
    height: 500px;
    width: 95%;
    margin-bottom: 10px;
}