#home {
    background-color: #FFFFFF;
    max-width: 90%;
    box-shadow: 0 1px 8px;
    margin: .5rem auto;
}

#home-section1 {
    background-color: #FFFFFF;
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 99%;
}

#home-section-title {
    background-color: #e2f1e1;
    border-top-style: groove;
    border-bottom-style: groove;
    font-family: Verdana, sans-serif;
    font-size: 26px;
    text-align: center;
    padding: 2px;
}

#home-section1-buttongroup {
    padding-left: 10px;
    padding-right: 10px;
}

#home-section1-date {
    margin-left: 10px;
    width: 200px;
}

#home-section1-input{
    margin: 10px 10px;
    max-width: 90%;
}

#home-section1-error {
    background-color: #FBC5C5;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 90%;
}

#home-section1-tableitem {
    padding-left: 10px;
    padding-right: 10px;
}

#home-section1-content{
    margin-top: 10px;
    padding-left:10px;
}

#home-section2 {
    background-color: #ffffff;
    border-top-style: groove;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    text-align: center;
    max-width: 95%;
    padding: 2px;
    padding-top: 10px;
}

#home-section2-table {
    max-width: 95%;
}

#home-section2-weathericon {
    font-size: 5em;
    max-width: 95%;
}


#home-section3 {
    margin: 1% 0%;
    max-width: 100%;
    height: 500px;
}

.user-input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-picker{
    margin-left: 5%;
    width: 65%;
}

.line-result-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.prediction-loader{
    margin-left: 40%;
}

#prediction-results {
    margin: 20px 20px;
    background-color: #FFFFFF;
}

.result-table-item{
    padding: 15px 15px;
}

#r-line{
    font-weight: 600;
    font-size: 20px;
}

.show-route{
    height: 50%;
    border: ridge #b1b5ae;
    border-radius: 4px;
    align-self: center;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    background-color: #e2f1e1;
}

.show-route:hover{
    box-shadow: 1px 1px 5px #b5b8b2;
}

.route-loader{
    align-self: center;
}

.submit-button{
    height: 50%;
    border: ridge #b1b5ae;
    border-radius: 4px;
    align-self: center;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    background-color: #e2f1e1;
    color:black;
}