#cover {
    background-color: #B8F1B0;
    color: #535353;
    /* height: 500px; */
    font-size: 150px;
    border-radius: 5px;
    box-shadow: 0 1px 8px;
    margin: .5rem auto;
    padding: 1rem;
    max-width: 95%
}

#cover-section {
    padding-top: 150px;
    padding-left: 100px;
}

#cover-button {
    width: 200px;
    height: 45px;
    font-size: 20px;
    margin-bottom: 50px;
}

#cover-img {
    width: 50%;
    height: 50%;
    margin-top: 20px;
}