.bg-backgroundcolor {
    background-color: #B8F1B0;
    max-width: 90%;
    border-radius: 5px;
    box-shadow: 0 1px 8px;
    margin: .5rem auto;
    padding: 1rem;
}

#nav-brand {
    color: #1F4690;
}

#nav-item {
    color: #000000;
}

nav {
    display:none
}