.bg-backgroundcolor {
    background-color: #ffffff;
    max-width: 95%;
    border-radius: 5px;
    box-shadow: 0 1px 8px;
    margin: .5rem auto;
    padding: 1rem;
}

#nav-brand {
    color: #1F4690;
}

#nav-item {
    color: #000000;
}