#timetables {
    background-color: #c5e7c1;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 90%;
    border-radius: 5px;
    box-shadow: 0 1px 8px;
    margin: .5rem auto;
    padding: 1rem;
}

#timetables-title {
    color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 34px;
}

#timetables-select {
    width: 15%;
    margin-left: 100px;
}

#timetables-img {
    width: 1200px;
    height: 500px;
    border-style: solid;
    margin-top: 20px;
}

#table-scroll {
    margin:4px, 4px;
    padding:4px;
    width: 425px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:center;
}

th {
    text-align: center;
}

tr {
    text-align: center;
}

#timetable-input {
    width: 20%;
    align-self: center;
    margin-left: 25%;
    margin-bottom: 2%;
}

#timetablesuggestions{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: center;
    left: 10%;
}

#timetablesuggestions button{
    background-color: #FFFFFF;
    z-index: 1000;
    width: 100%;
    border: none;
    border-bottom: #b1b5ae 1px solid;
}

#timetablesuggestions button:hover{
    background-color: #edf8ec;
}
