#aboutus {
    background-color: #B8F1B0;
    color: #535353;
    padding-top: 25px;
    padding-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 1px 8px;
    margin: .5rem auto;
    padding-top: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 90%;
}

#aboutus-title {
    color: #363062;
    text-align: center;
    margin-bottom: 30px;
}

#person-img {
    width: auto;
    height: 150px;
    margin-bottom: 50px;
}

#person1 {
    text-align: left;
}

#person1-info {
    padding-left: 30px;
    padding-bottom: 130px;
}