#aboutus {
    background-color: #B8F1B0;
    color: #535353;
    /* height: 700px; */
    padding-top: 25px;
    padding-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 1px 8px;
    margin: .5rem auto;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 95%;
}

#aboutus-title {
    color: #363062;
    text-align: center;
    margin-bottom: 30px;
}

#person-img {
    width: auto;
    height: 200px;
    margin-bottom: 50px;
}

#person1 {
    text-align: left;
    /* margin-left: 50px;
    margin-right: 600px; */
}

#person1-info {
    padding-left: 30px;
    padding-bottom: 130px;
}

#person2 {
    text-align: right;
    /* margin-left: 600px;
    margin-right: 50px; */
}

#person2-info {
    padding-right: 30px;
    padding-bottom: 130px;
}